<html>
	<head>
		<title>{{ config['core']['title'] }}</title>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<style>
			#vnc {
				padding-left: 25%;
				padding-right: 25%;
			}
		</style>
	</head>
	<body>
		<div class="jumbotron">
			<div class="container">
				<h1>Test page</h1>
			</div>
		</div>
		<canvas class="cvs" id="vnc" width="1920" height="1080">Your web browser does not support HTML5 Canvas. Please upgrade to a more modern web browser.</canvas>
		<div class="modal fade" id="configmodal" tabindex="-1" role="dialog" aria-labelledby="configmodalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
						<h4 class="modal-title" id="configmodalLabel">Enter configuration</h4>
					</div>
					<div class="modal-body">
						<form id="configform">
							<label for="server">Server Address:</label>
							<input type="text" id="server" name="server" class="form-control" placeholder="example.com"><br />
							<label for="port">Port:</label>
							<input type="text" id="port" name="port" class="form-control" placeholder="5900"><br />
							<label for="password">Password:</label>
							<input type="password" id="password" class="form-control" name="password"><br />
							<button class="btn btn-default" value="submit">Submit and connect</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<script>
			// global variables
			var ws = new WebSocket({{ "'ws://" + config['websockets']['site'] + ':' + config['websockets']['port'] + config['websockets']['url'] + "'" }});
			var cv = document.getElementById('vnc');
			var ct = cv.getContext('2d');

			function togglemodal() {
				$('#configmodal').modal('toggle');
			}

			// Websocket handler functions
			ws.onopen = function() {
				console.log("Websocket opened.");
				setTimeout(togglemodal, 500);
				//ws.binaryType = "arraybuffer";
			};

			ws.onmessage = function(ev) {
				var img = new Image();
				//console.log("Message received: " + ev.data);
				img.src = "data:image/png;base64," + ev.data;
				ct.drawImage(img,0,0);
			};

			ws.onclose = function(ev) {
				console.log("Websocket closed: " + ev.data);
			};

			ws.onerror = function(ev) {
				console.log("Error received:   " + ev.data);
			};

			
			// Canvas event binds
			$('#vnc').mousemove(function(event) {
				var msg = "mouse_move " + event.pageX + ' ' + event.pageY;
				ws.send(msg);
			});

			$('#vnc').mousedown(function(event) {
				var msg = "mouse_down " + event.pageX + " " + event.pageY;
				ws.send(msg);
			});

			$('#vnc').mouseup(function(event) {
				var msg = "mouse_up " + event.pageX + " " + event.pageY;
				ws.send(msg);
			});

			$('#vnc').keydown(function(event) {
				var msg = "key_down " + event.charCode;
				ws.send(msg);
			});

			$('#vnc').keyup(function(event) {
				var msg = "key_up " + event.charCode;
				ws.send(msg);
			});

			// Form bind

			$('#configform').submit(function(event) {
				if($('#server').val() != '') {
					ws.send('config server ' + $('#server').val());
				}
				if($('#port').val() != '') {
					ws.send('config port ' + $('#port').val());
				}
				if($('#password').val() != '') {
					ws.send('config pw ' + $('#password').val());
				}
				event.preventDefault();
			});
			// Debugging code
			//console.log(ws.binaryType);
		</script>
	</body>
</html>
